:root {
    --primary-color: #01b982;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding: 1.2rem;
    /* width: 100vw; */
    overflow: hidden;
}

main {
    background-color: #eaf0efe1;
    height: fit-content;
    border-radius: 0.5rem;
}

h1 {
    color: var(--primary-color);
}

small {
    color: #768170;
    font-size: 0.8rem;
}

small span {
    color: var(--primary-color);
    font-weight: bold;
}

p {
    margin-top: 0.5rem;
    text-align: center;
    color: #768170;
}

#swap {
    cursor: pointer;
    position: relative;
    left: 1.5rem;
    transform: rotate(0deg);
    transition: 0.2s all;
}

#swap.toggle__cur {
    transform: rotate(180deg);
}

.currency {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 0.8em 1.6em 0.8em 0.8em;
    cursor: pointer;
    appearance: none;
    border: 1px solid #dedede;
    font-size: 1em;
    border-radius: 0.5em;
}

.currency input {
    border: 0;
    background: transparent;
    font-size: 2em;
    text-align: right;
}

input:in-range {
    border: 2px solid rgb(0, 128, 79);
}

input:out-of-range {
    border: 2px solid red;
}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: var(--primary-color);
    font-size: 1em;
    padding: 0 0.8em;
}

select:focus,
input:focus {
    outline: none;
}

select {
    margin-right: 1rem;
}

.mon-img {
    width: 113%;
    margin-top: -1.2rem;
}